<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    $CSS_LINKS$
    <title>$NAV_TITLE$</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Frontpage</a></li>
            <li><a href="/weeks/1">Uge 1</a></li>
            <li><a href="/weeks/2">Uge 2</a></li>
            <li><a href="/weeks/3">Uge 3</a></li>
            <li><a href="/weeks/4">Uge 4</a></li>
            <li><a href="/weeks/5">Uge 5</a></li>
            <li><a href="/weeks/6">Uge 6</a></li>
        </ul>
    </nav>

    <main>