<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    $CSS_LINKS$
    <title>$NAV_TITLE$</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Frontpage</a></li>
            <li><a href="/weeks/1">Week One</a></li>
            <li><a href="/weeks/2">Week Two</a></li>
            <li><a href="/weeks/3">Week Three</a></li>
            <li><a href="/weeks/4">Week Four</a></li>
            <li><a href="/weeks/5">Week Five</a></li>
            <li><a href="/weeks/6">Week Six</a></li>
        </ul>
    </nav>

    <main>